<mat-toolbar color="primary">
  <span>Recipe List </span>
  <a mat-raised-button routerLinkActive="activeComponent" routerLink="/" [routerLinkActiveOptions]="{exact:true}">  Home</a>

  <a mat-raised-button routerLinkActive="activeComponent" routerLink="/recipes"> Recipes</a>
  <a mat-raised-button routerLinkActive="activeComponent" routerLink="/shopping"> Shopping List</a>
  <span class="example-spacer"></span>

  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <!-- <mat-icon class="mat-icon-rtl-mirror" svgIcon="thumb-up">Menu</mat-icon> -->
  </button>
</mat-toolbar>