<img src="{{recipe.imagePath}}"  alt="">
<mat-card>

  <mat-card-title>{{recipe.name}}</mat-card-title>
  <button mat-button [matMenuTriggerFor]="menu">Menu</button>
<mat-menu #menu="matMenu">
  <button mat-menu-item color="primary" [style]="{backgroundColor:'green'}" (click)="toShopppingList(recipe.ingredients)" >To Shopping List</button>
  <button mat-menu-item color="accent" [style]="{backgroundColor:'blue'}" (click)="onEditRecipe()" >Edit Recipe</button>
  <button mat-menu-item color="warn" [style]="{backgroundColor:'red'}" (click)="onDelete()" >Delete Recipe</button>

</mat-menu>

<mat-card-subtitle>{{recipe.description}}</mat-card-subtitle>
<mat-card-content>
  <ul>
    <li *ngFor=" let ingredient of recipe.ingredients" >{{ingredient.name}} {{ingredient.amount}}</li>
  </ul>
</mat-card-content>
</mat-card>
