mat-card{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: white;

}

mat-grid-tile{
 background-color: lightblue;

}


app-shopping-edit{
    display: flex;
    flex-direction: column;
    gap:5vh;

}


.shopping{
    display: flex;
    flex-direction: column;
    gap:2.5vh
}